asgiref==3.11.0
certifi==2026.1.4
charset-normalizer==3.4.4
Django==4.2.27
et_xmlfile==2.0.0
gunicorn==23.0.0
idna==3.11
openpyxl==3.1.5
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.11
requests==2.32.5
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
